/**
* @@ Cat @@
*/
@import 'public/styles/global.scss';

.options {
  @include break_point(phablet) {
    span {
      display: none;
    }
  }

  @include break_point(mobile) {
    span {
      display: none;
    }
  }
  display: flex;
  align-items: center;
  padding: var(--spacing-01) var(--spacing-02);

  span {
    padding-right: var(--spacing-01);
  }

  &:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: var(--spacing-02);
    background-color: var(--hover-header-background);
  }

  &__icon {
    @include break_point(phablet) {
      width: 30px;
      height: 30px;
    }

    @include break_point(mobile) {
      width: 30px;
      height: 30px;
    }
  }
}
