@import 'public/styles/global';

.movie {
  span {
    color: var(--text-light);
  }
  margin: var(--spacing-03) var(--spacing-03);
  border-radius: var(--spacing-01);
  background-color: var(--hover-header-background);

  &__title {
    font-weight: 600;
  }

  &__release {
    font-weight: 400;
  }
  &__link {
    & span {
      cursor: pointer;
    }
  }
}
