/**
  NOTE: Defaults display
*/

.theme {
  color: var(--primary-text);
  background-color: var(--primary-background);
}

.display {
  &__flex {
    display: flex;
  }

  &__none {
    display: none;
  }

  &__block {
    display: block;
  }
}

/**
  NOTE: Center block
*/

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

/**
  NOTE: Defaults width, height : 100%
*/

.full {
  &__width {
    width: 100%;
  }

  &__height {
    height: 100%;
  }
}

.nav {
  &__hover {
    &:hover {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      border-radius: var(--spacing-02);
      background-color: var(--hover-header-background);
    }
  }
}
