/*********************
BREAKPOINTS

+ xs: extremely small – phone – chiều rộng màn hình nhỏ hơn 576px

+ sm: small – tablet- máy tính bảng  > 576px

+ md: medium – laptop  >768px

+ lg: large màn hình desktop > 992px

+ xl: extremely large màn hình lớn  > 1200px

*********************/

/* Tham khảo: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@mixin break_point($point) {
  @if $point == desktop {

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and ( min-width: 1200px ) {
      @content;
    }
  } @else if $point == tablet {

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and ( min-width: 768px ) and ( max-width: 1199px ) {
      @content;
    }
  } @else if $point == phablet {

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and ( min-width: 601px ) and ( max-width: 767px ) {
      @content;
    }
  } @else if $point == mobile {

    /* Extra small devices (phones, 600px and down) */
    @media only screen and ( max-width: 600px ) {
      @content;
    }
  }
}
