/*********************
VARIABLES HTML
*********************/

html {
  transition: all 0.3s ease;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height);
  color: var(--primary-text);
  letter-spacing: var(--letter-spacing);
  height: 100vh;
  background-color: var(--primary-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: text;
}

h1, h2, h3 {
  font-weight: 600;
  line-height: 1.3;
  margin-top: 0;
}

h1 {
  font-size: var(--font-size-xxl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-l);
}

:root {
  // font-size
  --font-size-xxxl: 40px;
  --font-size-xxl: 32px;
  --font-size-xl: 22px;
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xs: 12px;
  --font-size-xxs: 11px;
  --font-size-xxxs: 9px;

  --line-height: 24px;
  --letter-spacing: 0.3px;

  // font-weight
  --font-weight-normal: normal;
  --font-weight-default: 400;
  --font-weight-medium: 600;
  --font-weight-bold: bold;

  // Spacing
  --spacing-01: 4px;
  --spacing-02: 8px;
  --spacing-03: 12px;
  --spacing-04: 16px;
  --spacing-05: 20px;
  --spacing-06: 24px;
  --spacing-07: 32px;
  --spacing-08: 40px;
  --spacing-09: 48px;
  --spacing-10: 56px;
  --spacing-11: 64px;
  --spacing-12: 72px;
  --spacing-13: 80px;
  --spacing-14: 96px;
  --spacing-15: 112px;
  --spacing-16: 120px;

  // Layout size
  --layout-size-desktop: 1200px;
  --layout-size-laptop: 970px;
  --layout-size-tablet: 750px;

  // Header
  --header-height: var(--spacing-11);
  --header-background: #032541;
  --hover-header-background: #033c6a;

  // Nav
  --nav-height: var(--spacing-08);
  --nav-background: var(--light-background-6);

  // Color
  --color-light-0: #fff;
  --color-light-1: #fff;
  --color-dark-0: #000;
  --color-dark-2: hsl(215,34%,15%);
  --color-dark-3: hsla(0,0%,10%,1);
  --color-alert-badge: #e03030;
  --color-always-white: #fff;
  --color-user-stats-text: #fff;
  --color-hero-light: #39f1e9;
  --color-mod-badge-background: #e3ecff;
  --color-mod-badge-main: #4064b5;
  --color-profile-sidebar-border: #ddd;
  --color-user-stats-background: #4266b3;
  --color-reward-quantity: #ffc100;
  --color-accent-dark: #0768ea;
  --color-accent-light: hsla(180,100%,55%,1);
  --color-accent-blue: #00bad7;
  --color-accent-dark-audio: hsl(330,85%,48%);
  --color-accent-dark-xe: hsla(2,65%,44%,1);
  --color-light-action-box-text: #757575;

  // Text
  --text-dark: #222b45;
  --text-light: #fff;
  --text-always-white: #fff;
  --text-always-black: #000;
  --text-light-1: #f1f1f1;
  --text-light-2: #606670;
  --text-light-3: #6c6c6c;
  --text-highlight: #34c0dd;
  --text-grey: #222b45;
  --text-since: #8f9bb3;
  --text-color-rank: #f6b142;
  --text-link: #2ebfd9;
  --text-rank: #f5a623;
  --text-action: #1a6bc8;
  --text-button-active: #0768ea;

  // Button
  --button-dark: #0f1e2f;
  --button-dark-1: #213243;
  --button-dark-text: #44d7b6;
  --button-light: #e5e6ec;
  --button-light-text: #242424;
  --button-light-2: #f2f3f5;
  --button-high-contrast: #0768ea;
  --button-high-contrast-text: #fff;
  --button-high-contrast-hover: #004096;
  --button-accent-green: #23d7a9;
  --button-accent-green-text: #23d7a9;
  --button-facebook: #4267b2;
  --button-active: #e6effc;
  --button-orange: #ff7034;
  --button-orange-dark: #e55300;
  --button-light-disabled: #e6e6e6;
  --button-light-disabled-text: #b9b9b9;


  // Active
  --active-indicator: #44d7b6;
  --active-indicator-red: #e02020;
  --active-indicator-border: #ebf1fd;

  // light-background
  --light-background: #fff;
  --light-background-2: #f2f3f5;
  --light-background-3: #eaedf1;
  --light-background-4: #f5f5f5;
  --light-background-5: #ebf1fd;
  --light-background-6: #ebe6ff;
  --light-background-7: #ebe6ff;
  --light-grey-background: #f2f3f5;

  --footer-background: #f1f1f1;
  --footer-background-dark: #e5e6ec;
  --post-background: #eaedf1;
  --thread-background: #fff;
  --hover-background: #eeeff2;

  // Border
  --border-light: #e5e6ec;
  --border-light-1: #e4e4e4;
  --border-light-2: #ebebeb;
  --border-dark: #15202b;
  --border-thread-thumbnail: #e5e6ec;

  --primary-color: #0768ea;
  --primary-text: #000000d9;
  --primary-background: #fff;
  --primary-border: #e5e6ed;
  --hover-primary-text: #3986ee;

  --secondary-text: #00000073;
  --secondary-button: #e5e6ed;
  --secondary-border: #032a5e;
  --secondary-button-border: #edeef2;
  --hover-secondary-text: #a0a1a6;

  --grey-background: #f9f9fb;
  --grey-darker-background: #f5f5f8;
  --mask-background: linear-gradient(180deg,rgba(0,0,0,0.0001) 3.17%,#000 100%);
  --white-background: #fff;
  --context-menu-background: #fcfdfd;
  --progress-bar-background: #edeef2;
  --widget-label-background: #213143;
  --red-background: #e02020;
  --input-background: #e5e6ed;
  --ads-background: #01152f;
  --mod-tag-background: #faad14;
  --inverse-background: #00000073;
  --yt-background: #01152f;
  --page-background: #fff;
  --dark-background: #e4e4e4;
  --trending-threads-background: #192433;
  --highlight-background: #20c6bf;
  --second-featured-threads-background: linear-gradient(to bottom,#e5e6ed 42%,#f1f2f4 81%,#fff 97%);
  --thread-report-background: #fff9f1;
  --thread-delete-background: #fee;
  --thread-event-background: #f79500;
  --thread-intro-background: #fffec7;
  --special-header-background: rgba(19,25,41,0.90);
  --editor-control-background: #e4e4e4;
  --dropdown-control-background: #fff;
  --thread-fact-background: #232f3d;
  --fact-slider-background: #fff;

  --header-menu-button: #e5e6ed;
  --hover-header-menu-button: #e6f0fd;
  --burger-button: #393a3b;
  --hover-burger-button: #0768ea;
  --light-button: #e6f0fd;
  --text-on-light-button: #0768ea;
  --gradient-1-button: linear-gradient(270.49deg,#8426cc 0.21%,#dc3d6f 100%);
  --gradient-2-button: linear-gradient(94.95deg,#2af598 -43.99%,#0049fd 106.14%);
  --gradient-3-button: linear-gradient(315.42deg,#2af598 3.91%,#0049fd 96.72%);
  --text-on-gradient-button: #fff;
  --tinhte-creator-button: #44d7b6;

  --content-text: #5c5c5f;
  --content-bubble-text: #000000d9;
  --light-text: #e5e6ed;
  --trending-index-text: #a0a1a6;
  --inverse-text: #fff;
  --top-thread-header-text: #fff;
  --role-badge-text: #fff;
  --trending-threads-button-text: #fff;
  --editor-control-text: #000;
  --dropdown-control-text: #000;

  --dark-icon: #212121;
  --notification-icon: #83ffff;

  --blue-border: #0768ea;
  --white-border: #fff;
  --thread-delete-border: #f75551;
  --thread-report-border: #f79500;
  --thread-intro-border: #fecb2e;
  --dropdown-control-border: #e4e4e4;
  --trending-threads-border: rgba(219,219,219,0.1);

  // Box Shadow
  --box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.12),0px 6px 16px rgba(0,0,0,0.08),0px 9px 28px 8px rgba(0,0,0,0.05);
  --box-shadow-2: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

[data-theme='dark'] {
  --text-dark: #fff;
  --text-grey: #92abc8;
  --text-since: #8f9bb3;
  --text-light-2: #bab9b9;
  --button-light-text: #fff;
  --button-light: #31455f;
  --button-light-3: #213243;
  --border-light-2: #223243;
  --page-background: #0e161e;
  --light-grey-background: #0e161e;
  --gradient-background-1: linear-gradient(0deg, #223243 6.39%, #0f161e 72.37%, #0f161e 99.99%);
  --new-thread-header: #0e161e;
  --new-thread-body: #0e161e;
  --new-thread-footer: #0e161e;
  --thread-report-background: #0f171f;
  --thread-delete-background: #0f171f;
  --thread-event-background: #0f171f;
  --color-light-1: #213243;
  --color-light-0: #213243;
  --light-background: #213243;
  --light-background-2: #4b6e95;
  --light-background-3: #213243;
  --light-background-4: rgba(7,104,234,0.08);
  --light-background-5: rgba(7,104,234,0.08);
  --light-background-6: #213243;
  --light-background-7: #111c2e;
  --fact-slider-background: transparent;
  --border-light: #213243;
  --border-light-1: #213243;
  --border-thread-thumbnail: #0e161e;
  --color-accent-dark: #20c6bf;
  --hover-background: #0e161e;
  --box-shadow: transparent;
  --trending-threads-background: #070a0f;
  --thread-background: #0f1e2f;
  --dark-icon: #fff;
  --footer-background: #0f161e;
  --footer-background-dark: #213243;
  --editor-control-background: #0f1e2f;
  --editor-control-text: #fff;
  --dropdown-control-background: #0f1e2f;
  --dropdown-control-background-hover: #213243;
  --dropdown-control-text: #fff;
  --dropdown-control-border: #0f1e2f;
  --scrollbar-track-bg: #192f46;
  --scrollbar-thumb-bg: #2c4865;
  --primary-text: #fff;
  --hover-primary-text: #3986ee;
  --secondary-text: #b7b9bc;
  --hover-secondary-text: #a0a1a6;
  --content-text: #b7b9bc;
  --content-bubble-text: #fff;
  --light-text: #e5e6ed;
  --trending-index-text: #f5f5f8;
  --primary-background: #0f161e;
  --grey-background: #272d34;
  --grey-darker-background: #272d34;
  --tinhte-creator-widget-background: #272d34;
  --post-background: #272d34;
  --second-featured-threads-background: linear-gradient(180deg, #131629 35.46%, #0f161e 78.74%, #0f161e 96.86%);
  --white-background: #272d34;
  --context-menu-background: #272d34;
  --progress-bar-background: #3f454b;
  --widget-label-background: #3f454b;
  --header-menu-button: #3f454b;
  --hover-header-menu-button: #e6f0fd;
  --burger-button: #fff;
  --hover-burger-button: #0768ea;
  --secondary-button: #3f454b;
  --light-button: #043e8c;
  --text-on-light-button: #e6f0fd;
  --text-on-gradient-button: #fff;
  --primary-border: #3f454b;
  --secondary-border: #3f454b;
  --secondary-button-border: #3f454b;
  --blue-border: #0768ea;
  --primary-color: #3986ee;
  --text-on-primary-color: #fff;
  --tinhte-xe-color: #f5222d;
  --tinhte-audio-color: #eb2f96;
  --yt-background: #112a45;
  --yt-active-selection: #15395b;
  --input-background: #3f454b;
  --toastify-color-light: #272d34 !important;
  --toastify-text-color-light: #fff !important;
}
