/**
* @@ Cat @@
*/

@import 'public/styles/global.scss';

.content {
  color: var(--text-light);
  padding: 0 var(--spacing-10);
}

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  height: var(--header-height);
  box-shadow: var(--box-shadow-2);
  transition: top 0.2s linear;
  background-color: var(--header-background);

  &_container {
    a {
      margin-right: var(--spacing-04) !important;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__background {
    width: 100%;
    height: 100%;
  }

  &__logo {
    @include break_point(phablet) {
      margin-left: var(--spacing-03);
    }
    @include break_point(mobile) {
      margin-left: var(--spacing-03);
    }
  }

  &__input {
    @include break_point(phablet) {
      display: none;
    }
    @include break_point(mobile) {
      display: none;
    }
    @media only screen and ( min-width: 768px ) and ( max-width: 991px ) {
      width: 255px;
    }
    @media only screen and ( min-width: 992px ) {
      width: 455px;
    }
  }

  &__options {
    span {
      font-size: var(--font-size-s);
    }
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
}

.logo {
  &__container {
    width: 154px;
    height: 20px;
  }
}

.nav {
  @include break_point(mobile) {
    display: none;
  }

  @include break_point(phablet) {
    display: none;
  }
  display: flex;
  margin-bottom: 0;
  list-style: none;

  li {
    span {
      color: var(--text-light);
    }
    margin-right: var(--spacing-04);
  }
}
