/**
* @@ Cat @@
*/

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
  background: rgba(255, 255, 255, 0.95);

  &-transformOpen {
    opacity: 1;
  }

  &-transformActive {
    transform: scale(1);
  }

  &-transformHide {
    transform: scale(0);
  }

  &-wrap {
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 15px;
    width: 40px;
    height: 40px;
  }

  &__close {
    width: 32px;
    height: 32px;
    cursor: pointer;
    fill: var(--color-main);
  }

  &-content {
    height: 100%;
    padding: calc(var(--layout-header-logo-height) + var(--spacing-03))
      var(--spacing-07) var(--spacing-07);
  }
}
