@import 'public/styles/global';

.title {
  font-size: var(--font-size-xxl);
  font-weight: 600;
  padding: var(--spacing-04) 0;
}

.load {
  span {
    cursor: pointer;
  }

  &__more {
    margin: var(--spacing-10) 0;
  }
  display: flex;
  justify-content: center;
}
