/**
* @@ Cat @@
*/
@import 'public/styles/global.scss';

.content {
  @include break_point(laptop) {
    width: var(--layout-size-laptop);
  }
  @include break_point(tablet) {
    width: 100%;
  }
  @include break_point(phablet) {
    width: 100%;
  }
  @include break_point(mobile) {
    width: 100%;
  }
  position: relative;
  z-index: 0;
  display: flex;
  width: var(--layout-size-desktop);
  height: 100%;
  margin: 0 auto;
}
